@import 'base/variables';
@import 'base/mixins';
@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/buttons';
@import 'blocks/benefits';
@import 'blocks/consultation';
@import 'blocks/titles';
@import 'blocks/forms';
@import 'blocks/carousel';

* {
    font-family: 'MuseoModerno';
}

.container {
    padding: 0 15px;
    max-width: 950px;
    margin: 0 auto;
}

@import 'blocks/media';