@media (max-width: 1200px) {
}

@media (max-width: 991px) {
    .consultation {
        min-height: 500px;}
}

@media (max-width: 767px) {
    .header {
        &__official {
            display: none;
        }
    }
    .benefits {
        padding: 50px 0 50px 0;
        &__header {
            font-size: 25px;
        }
        &__items {
            // display: flex;
            flex-direction: column;
            align-items: center;
            gap: 40px;
            // align-items: center;
            margin-top: 45px;
        }
        &__item {
            align-items: center;
            max-width: 430px;
        }
    }
    .consultation {
        min-height: 564px;
        padding: 33px 0 26px 15px;
        &__descr {
            font-size: 18px;
        }
        .title {
            font-size: 28px;
        }
    }
    .feed-form {
        margin-top: 25px;
    }
}

@media (max-width: 575px) {
    .header {
        &__logo {
            width: 200px;
        }
        &__phone {
            font-size: 14px;
        }
    }

    .promo {
        min-height: 470px;
        padding: 22px 0 38px 0;
        &__wrapper {
            margin-top: 50px;
        }
        &__header {
            font-size: 32px;
        }
        &__subheader {
            margin-top: 8px;
            font-size: 18px;
        }
        &__icons {
            margin-top: 35px;
        }
        &__link {
            font-size: 12px;
        }
    }
    .button {
        width: 150px;
        height: 32px;
        font-size: 10px;
        &_main {
            margin-top: 40px;
            width: 250px;
            height: 40px;
            font-size: 12px;
        }
    }
    .benefits {
        padding: 30px 0 30px 0;
        &__header {
            font-size: 20px;
        }
        &__items {
            margin-top: 35px;
        }
        &__subheader {
            font-size: 17px;
        }
    }
    .consultation {
        min-height: 463px;
        padding: 14px 0 14px 10px;
        .title {
            font-size: 24px;
        }

    }
    .feed-form {
        margin-top: 36px;
        input {
            height: 39px;
            margin-bottom: 13px;
            padding: 0 15px;
            font-size: 14px;
        }
    }
}

@media (max-width: 400px) {
    .container {
        padding: 0 5px;
    }
    .promo {
        padding: 10px 0 15px 0;
        min-height: 370px;
        &__wrapper {
            margin-top: 30px;
        }
        &__header {
            font-size: 25px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__icons {
            width: 100%;
            font-size: 12px;
        }
        &__icon {
            margin-left: 10px;
        }
    }
    .consultation {
        min-height: 352px;
        padding: 10px 15px 10px 5px;
   
        &__descr {
            font-size: 14px;
        }
        .title {
            font-size: 18px;
        }
    }
    .feed-form {
        width: 100%;
        margin-top: 25px;
    }
}
