.promo {
    min-height: 557px;
    padding: 21px 0 93px 0;
    // background: url('../img/bg.png') center (center/cover) no-repeat;
    background: url('../../img/bg.png') center (center/cover) no-repeat;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        margin-top: 90px;
    }
    &__header {
        font-weight: 700;
        font-size: 42px;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0;
    }
    &__subheader {
        font-family: 'MuseoModerno' sans-serif;

        font-weight: 500;
        font-size: 24px;
        line-height: 24px;
        text-transform: uppercase;
        color: #ffffff;
        margin: 0;
        margin-top: 17px;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        width: 425px;
        margin-top: 60px;
        font-weight: 500;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #ffffff;
    }
    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 106px;
        text-align: center;
        margin-left: 39px;
        img {
            width: 42px;
            height: 46px;
            margin-bottom: 20px;
        }
    }
    &__link {
        font-weight: 500;
        font-size: 16px;
        line-height: 25px;
        color: #ffffff;
        margin-top: 8px;
        a {
            color: #ffffff;
            text-decoration: underline;
            text-transform: uppercase;
            &:hover {
                color: #dfdfdf;
            }
        }
    }
}
